  <link href="http://concursos.crp.pe/CRP/demo/gwdpage_style.css" rel="stylesheet" data-version="12" data-exports-type="gwd-page">
  <link href="http://concursos.crp.pe/CRP/demo/gwdpagedeck_style.css" rel="stylesheet" data-version="11" data-exports-type="gwd-pagedeck">
  <link href="http://concursos.crp.pe/CRP/demo/gwddoubleclick_style.css" rel="stylesheet" data-version="18" data-exports-type="gwd-doubleclick">
  <link href="http://concursos.crp.pe/CRP/demo/gwdtaparea_style.css" rel="stylesheet" data-version="6" data-exports-type="gwd-taparea">
  <link href="http://concursos.crp.pe/CRP/demo/gwdimage_style.css" rel="stylesheet" data-version="12" data-exports-type="gwd-image">
  <style type="text/css" id="gwd-lightbox-style">.gwd-lightbox{overflow:hidden}</style>
  <style type="text/css" id="gwd-text-style">p{margin:0px}h1{margin:0px}h2{margin:0px}h3{margin:0px}</style>
  <link rel="stylesheet" href="http://concursos.crp.pe/CRP/demo/multimedia_expandible.css">
  <script data-source="http://concursos.crp.pe/CRP/demo/googbase_min.js" data-version="4" data-exports-type="googbase" src="http://concursos.crp.pe/CRP/demo/googbase_min.js"></script>
  <script data-source="http://concursos.crp.pe/CRP/demo/gwd_webcomponents_min.js" data-version="5" data-exports-type="gwd_webcomponents" src="http://concursos.crp.pe/CRP/demo/gwd_webcomponents_min.js"></script>
  <script data-source="http://concursos.crp.pe/CRP/demo/gwdpage_min.js" data-version="12" data-exports-type="gwd-page" src="http://concursos.crp.pe/CRP/demo/gwdpage_min.js"></script>
  <script data-source="http://concursos.crp.pe/CRP/demo/gwdpagedeck_min.js" data-version="11" data-exports-type="gwd-pagedeck" src="http://concursos.crp.pe/CRP/demo/gwdpagedeck_min.js"></script>
  <script data-source="https://s0.2mdn.net/ads/studio/Enabler.js" data-exports-type="gwd-doubleclick" src="https://s0.2mdn.net/ads/studio/Enabler.js"></script>
  <script data-source="http://concursos.crp.pe/CRP/demo/gwddoubleclick_min.js" data-version="18" data-exports-type="gwd-doubleclick" src="http://concursos.crp.pe/CRP/demo/gwddoubleclick_min.js"></script>
  <script data-source="http://concursos.crp.pe/CRP/demo/gwdtaparea_min.js" data-version="6" data-exports-type="gwd-taparea" src="http://concursos.crp.pe/CRP/demo/gwdtaparea_min.js"></script>
  <script data-source="http://concursos.crp.pe/CRP/demo/gwdimage_min.js" data-version="12" data-exports-type="gwd-image" src="http://concursos.crp.pe/CRP/demo/gwdimage_min.js"></script>
  <script type="text/javascript" gwd-events="support" src="http://concursos.crp.pe/CRP/demo/gwd-events-support.1.0.js"></script>

  <gwd-doubleclick id="gwd-ad" polite-load="">
    <gwd-metric-configuration>
      <gwd-metric-event source="expand-button" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="close-button" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="click-tag-1" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="click-tag-2" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
    </gwd-metric-configuration>
    <div is="gwd-pagedeck" class="gwd-page-container" id="pagedeck" default-page="banner-page" data-gwd-offset-top="0px" data-gwd-offset-left="0px">
      <div is="gwd-page" id="banner-page" data-gwd-name="Página de banner" class="gwd-page-wrapper banner gwd-lightbox" data-gwd-width="300px" data-gwd-height="250px" expanded="">
        <div class="gwd-page-content banner">
          <img is="gwd-image" source="http://concursos.crp.pe/CRP/demo/bg-replegado.jpg" id="gwd-image_2" class="gwd-img-x6ui">
          <img is="gwd-image" source="http://concursos.crp.pe/CRP/demo/btn-subscribe.png" id="gwd-image_5" class="gwd-img-s987">
          <gwd-taparea id="click-tag-1" class="gwd-taparea-179k"></gwd-taparea>
          <gwd-taparea id="expand-button" class="expand-button">
            <img is="gwd-image" source="http://concursos.crp.pe/CRP/demo/btn-expand.png" id="gwd-image_4" class="gwd-img-pyqh">
          </gwd-taparea>
        </div>
      </div>
      <div is="gwd-page" id="expanded-page" expanded="" data-gwd-name="Página expandida" class="gwd-page-wrapper expanded gwd-lightbox" data-gwd-width="600px" data-gwd-height="340px">
        <div class="gwd-page-content expanded">
          <img is="gwd-image" source="http://concursos.crp.pe/CRP/demo/bg-expandido.jpg" id="gwd-image_7" class="gwd-img-zegg">
          <gwd-taparea id="click-tag-2" class="gwd-taparea-339e"></gwd-taparea>
          <gwd-taparea id="close-button" class="close-button">
            <img is="gwd-image" source="http://concursos.crp.pe/CRP/demo/btn-close.png" id="gwd-image_6" class="gwd-img-qj9q">
          </gwd-taparea>
        </div>
      </div>
    </div>
    <gwd-exit metric="clicktag-1" url="%%CLICK_URL_UNESC%%%%DEST_URL%%"></gwd-exit>
    <gwd-exit metric="clicktag2" url="%%CLICK_URL_UNESC%%%%DEST_URL%%"></gwd-exit>
  </gwd-doubleclick>
  <script type="text/javascript" gwd-events="registration">gwd.actions.events.registerEventHandlers=function(event){gwd.actions.events.addHandler("expand-button","action",gwd.handleExpand_buttonAction,false);gwd.actions.events.addHandler("close-button","action",gwd.handleClose_buttonAction,false);gwd.actions.events.addHandler("close-button","action",gwd.handleClose_reportManualClose,false);gwd.actions.events.addHandler("document.body","adinitialized",gwd.auto_BodyAdinitialized,false);gwd.actions.events.addHandler("click-tag-1","action",gwd.auto_Click_tag_1Click,false);gwd.actions.events.addHandler("click-tag-2","action",gwd.auto_Click_tag_2Click,false)};gwd.actions.events.deregisterEventHandlers=function(event){gwd.actions.events.removeHandler("expand-button","action",gwd.handleExpand_buttonAction,false);gwd.actions.events.removeHandler("close-button","action",gwd.handleClose_buttonAction,false);gwd.actions.events.removeHandler("close-button","action",gwd.handleClose_reportManualClose,false);gwd.actions.events.removeHandler("document.body","adinitialized",gwd.auto_BodyAdinitialized,false);gwd.actions.events.removeHandler("click-tag-1","action",gwd.auto_Click_tag_1Click,false);gwd.actions.events.removeHandler("click-tag-2","action",gwd.auto_Click_tag_2Click,false)};document.addEventListener("DOMContentLoaded",gwd.actions.events.registerEventHandlers);document.addEventListener("unload",gwd.actions.events.deregisterEventHandlers)</script>
  <script type="text/javascript" gwd-events="handlers">gwd.handleExpand_buttonAction=function(){gwd.actions.gwdDoubleclick.goToPage("gwd-ad","expanded-page")};gwd.handleClose_buttonAction=function(){gwd.actions.gwdDoubleclick.goToPage("gwd-ad","banner-page")};gwd.handleClose_reportManualClose=function(){gwd.actions.gwdDoubleclick.reportManualClose("gwd-ad")};gwd.auto_BodyAdinitialized=function(event){gwd.actions.gwdPagedeck.goToPage("pagedeck","expanded-page","none",1e3,"linear","top")};gwd.auto_Click_tag_1Click=function(event){gwd.actions.gwdDoubleclick.exit("gwd-ad","clicktag-1","%%CLICK_URL_UNESC%%%%DEST_URL%%",true,true,"banner-page")};gwd.auto_Click_tag_2Click=function(event){gwd.actions.gwdDoubleclick.exit("gwd-ad","clicktag2","%%CLICK_URL_UNESC%%%%DEST_URL%%",true,true,"banner-page")}</script>
  <script type="text/javascript" id="gwd-init-code">
    (function() {
      var gwdAd = document.getElementById('gwd-ad');
      function handleDomContentLoaded(event) {
      }
      function handleWebComponentsReady(event) {
        setTimeout(function() {
          gwdAd.initAd();
        }, 0);
      }
      function handleAdInitialized(event) {}
      window.addEventListener('DOMContentLoaded',
        handleDomContentLoaded, false);
      window.addEventListener('WebComponentsReady',
        handleWebComponentsReady, false);
      window.addEventListener('adinitialized',
        handleAdInitialized, false);
    })();
  </script>
<script data-exports-type="gwd-studio-registration">function StudioExports() {
Enabler.setExpandingPixelOffsets(0,0,600,340,false,false);
Enabler.exit("clicktag-1", "%%CLICK_URL_UNESC%%%%DEST_URL%%");
Enabler.exit("clicktag2", "%%CLICK_URL_UNESC%%%%DEST_URL%%");
}</script><script type="text/gwd-admetadata">{"version":1,"type":"DoubleClick","format":"","template":"Expandable 3.0.0","politeload":true,"fullscreen":false,"counters":[],"timers":[],"exits":[{"exitId":"clicktag-1","url":"%%CLICK_URL_UNESC%%%%DEST_URL%%"},{"exitId":"clicktag2","url":"%%CLICK_URL_UNESC%%%%DEST_URL%%"}],"creativeProperties":{"minWidth":300,"minHeight":250,"maxWidth":600,"maxHeight":340},"components":["gwd-doubleclick","gwd-image","gwd-page","gwd-pagedeck","gwd-taparea"],"responsive":false}</script></body></html>
