html,body{width:100%;height:100%;margin:0px}.gwd-page-container{position:relative;width:100%;height:100%}.gwd-page-content{background-color:transparent;transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);-webkit-transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);-moz-transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);perspective:1400px;-webkit-perspective:1400px;-moz-perspective:1400px;transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;position:absolute}.gwd-page-wrapper{background-color:#fff;position:absolute;transform:translateZ(0);-webkit-transform:translateZ(0);-moz-transform:translateZ(0)}.banner{width:300px;height:250px}.expanded{width:600px;height:340px}.expand-button{position:absolute;width:41px;height:39px;left:0px;top:211px}.close-button{position:absolute;height:48px;background-image:none;background-color:transparent;width:51px;left:542px;top:9px}.close-button-responsive{left:100%;transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform:translate3d(-126px, 0, 0);-webkit-transform:translate3d(-126px, 0, 0);-moz-transform:translate3d(-126px, 0, 0)}.gwd-img-x6ui{position:absolute;top:0px;left:0px;width:300px;height:250px}.gwd-img-s987{display:block;height:44px;position:absolute;width:164px;left:129px;top:195px}.gwd-img-pyqh{display:block;height:25px;position:absolute;width:25px;left:5px;top:7px}.gwd-taparea-179k{position:absolute;top:0px;width:300px;height:250px;left:0px}.gwd-img-zegg{position:absolute;width:600px;height:340px;left:0px;top:0px}.gwd-img-qj9q{display:block;height:38px;position:absolute;width:38px;top:5px;left:6px}.gwd-taparea-339e{position:absolute;width:600px;height:340px;left:0px;top:0px}
#pagedeck {
    width: 300px;
    height: 250px;
}
#expanded-page{
    right: 0!important;
    left: initial!important;
    z-index: 200;
}